@import "../libs/bootstrap/scss/functions";
@import "../libs/bootstrap/scss/variables";
@import "../libs/bootstrap/scss/mixins";
@import "../variables";

@keyframes wvp-icon-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.wvp-icon {
	display: inline-block;
	width: 16px;
	max-width: 100%;
	height: 16px;
	max-height: 100%;
	/*line-height: 1;*/
	vertical-align: middle;
	position: relative;

	svg {
		position: absolute;
		top: -0.085rem;
		left: 0;
		width: 100%;
		height: 100%;
		fill: currentColor;
	}

	&--xl {
		width: 80px;
		height: 80px;
		line-height: 80px;
		vertical-align: unset;
	}

	&--lg {
		width: 32px;
		height: 32px;
		line-height: 32px;
		vertical-align: unset;
	}

	&--md {
		width: 21px;
		height: 21px;
		line-height: 21px;
		vertical-align: unset;
	}

	&--sm {
		width: 14px;
		height: 14px;
		vertical-align: unset;
		line-height: 14px;
	}

	&--xs {
		width: 12px;
		height: 12px;
		vertical-align: unset;
		line-height: 12px;
	}

	&--spin {
		animation-name: wvp-icon-spin;
		animation-duration: 2000ms;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
}
