@namespace WebVella.Pulsar.Components
@inherits WvpBase
@using WebVella.Pulsar.Models
@using Microsoft.AspNetCore.Components.Web

<div class="@Class" @onclick="@((e) => _onClickHandler(e))" @onclick:stopPropagation="true" @onclick:preventDefault="true">
	@ChildContent
</div>
