@namespace WebVella.Pulsar.Components
@inherits WvpBase
@using WebVella.Pulsar.Models
@using Microsoft.AspNetCore.Components.Web

<div class="@Class" @onclick="_onClickHandler">
	@ChildContent
</div>
