@namespace WebVella.Pulsar.Components
@inherits WvpBase
@using WebVella.Pulsar.Models
@using Microsoft.AspNetCore.Components.Web

<a class="@_class" href="javascript:void(0)" @onclick="_onClickHandler">@ChildContent</a>
