//Color
///////////////////////////////////////////
@import "colors";

//Typography
///////////////////////////////////////////

//Font Size
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;

//Font Weight
$font-weight-xs: 100;
$font-weight-sm: 200;
$font-weight-base: 400;
$font-weight-lg: 700;
$font-weight-xl: 900;


