@namespace WebVella.Pulsar.Components
@inherits WvpDisplayBase
@using WebVella.Pulsar.Models
@using Microsoft.AspNetCore.Components.Web

<div class="@(String.Join(" ",_cssList))">
	@if (_value == null)
	{
		if(WvpDisplayCheckboxUnknown != null)
		{
			@WvpDisplayCheckboxUnknown
		}
		else{
			<span>unknown</span>
		}
	}
	else if (_value.Value)
	{
		if(WvpDisplayCheckboxChecked != null)
		{
			@WvpDisplayCheckboxChecked
		}
		else{
			<span>selected</span>
		}
	}
	else
	{
		if(WvpDisplayCheckboxNotChecked != null)
		{
			@WvpDisplayCheckboxNotChecked
		}
		else{
			<span>not selected</span>
		}
	}
</div>