@namespace WebVella.Pulsar.Components
@inherits WvpBase
@using WebVella.Pulsar.Models
@using Microsoft.AspNetCore.Components.Web

@if (_isOpen)
{
	<div class="wvp-modal modal d-block @Class" tabindex="-1">
		<div class="modal-dialog @_sizeClass" id="@Id">
			<div class="modal-content">
				@ChildContent
			</div>
		</div>
	</div>
}