@namespace WebVella.Pulsar.Components
@inherits WvpBase
@using WebVella.Pulsar.Models
@using Microsoft.AspNetCore.Components.Web

<div class="wvp-modal modal @Class @(_isOpen ? "d-block" : "")" tabindex="-1">
  <div class="modal-dialog @_sizeClass">
    <div class="modal-content">
      @ChildContent
    </div>
  </div>
</div>